@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import './colors.scss';
* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background: linear-gradient(0deg, $background-gradient-from, $background-gradient-to);
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 1rem;
	padding: 1rem;
}

#app .tutorial-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.637);
	display: none;
	opacity: 0;
	&.active {
		display: block;
		opacity: 1;
	}

	.tool-tip {
		font-family: 'Happy Monkey', cursive;
		color: white;
		font-size: 3rem;
		text-align: center;
		position: absolute;
		bottom: 16%;
        right: 20%;
        .tipIcon-container{
            position: relative;
            top: 3rem;
            left: 15rem;
            transform: rotate(18deg);
            animation: rotateArrow infinite ease-in-out .6s;
            svg{
                fill: white;
            }
        }
	}
}

@keyframes rotateArrow{
    10%,
    90% {
      transform: rotate(-1px);
    }
  
    20%,
    80% {
      transform: rotate(2px);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(-4px);
    }
  
    40%,
    60% {
      transform: translateX(4px);
    }
}